{% load static %}

<footer>
    <div class="top-footer">
        <div class="container">
            <div class="tp-content">
                <div class="row">
                    <div class="col-lg-5 col-md-4 col-sm-6">
                        <div class="widget widget-about">
                            <img src="images/logo2.png" alt="">
                            <p>Vivamus dapibus et purus quis mollis. Mauris tempus tortor vel mi eleifend laoreet. Nulla laoreet sapien erat.</p>
                            <ul class="social_links">
                                <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-dribbble"></i></a></li>
                            </ul><!--social_links end-->
                        </div><!--widget-about end-->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="widget widget-links">
                            <h3 class="widget-title">Usefull Links</h3>
                            <ul>
                                <li><a href="about.html" title="">About Us</a></li>
                                <li><a href="contact.html" title="">Contact Us</a></li>
                                <li><a href="#" title="">Terms of Services</a></li>
                                <li><a href="prices.html" title="">Plan & Pricing</a></li>
                                <li><a href="#" title="">Site Map</a></li>
                            </ul>
                        </div><!--widget-links end-->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12">
                        <div class="widget widget-contact">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul>
                                <li>Phone Number: ( + 051 ) 958 23 78 51</li>
                                <li>Phone Number 2: <span>( + 051 ) 958 23 78 51</span></li>
                            </ul>
                            <ul>
                                <li>Email: support@ocatavian.io</li>
                                <li>Fax: support@ocatavian.io</li>
                            </ul>
                            <p>Address: Envato Pty Ltd 13/2 Permanent ST melbourne VLC 3000 - Australia</p>
                        </div><!--widget-contact end-->
                    </div>
                </div>
            </div><!--tp-content end-->
        </div>
    </div><!--top-footer end-->
    <div class="bottom-footer">
        <div class="container">
            <div class="bt-footer">
                <p>Copyright © 2020 Octavian, Designed by <a href="#" title="">TexTheme</a> All Rights Reserved.</p>
                <!-- <a href="#" title="" class="scrollTop"><i class="fa fa-rocket"></i></a> -->
            </div><!--bt-footer end-->
        </div>
    </div><!--bottom-footer end-->
</footer><!--footer end-->

</div><!--wrapper end-->


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/plugin/slick.min.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
