{% extends 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block content %}

{% include 'nav.html' %}
<section class="main-banner style9">
    <div class="fixed-bg banner-bg9"></div>
    <div class="container">
        <div class="banner-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h2 class="wow fadeInUp" data-wow-duration="1000ms"><strong>Now so easy</strong> just
                            download <strong>the app</strong></h2>
                        <p class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">Our app tracks
                            and fights the virus from our hands, it's free and available</p>
                        <a href="#" title="" class="btn-default wow fadeInUp" data-wow-duration="1000ms"
                            data-wow-delay="600ms"><i class="fa fa-download"></i> Download now<span></span></a>
                    </div>
                    <!--banner-text end-->
                </div>
                <div class="col-lg-6">
                    <div class="ban--img">
                        <img src="https://via.placeholder.com/554x744" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--banner-content end-->
    </div>
</section>
<!--main-banner end-->

<section class="sec-block pb-0">
    <div class="custom-container">
        <div class="more-sectat hp9">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="abt-proptz">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="cld-dv mgt-170 active wow fadeInRight" data-wow-duration="1000ms">
                                    <img src="{% static 'images/hp2.png' %}" alt="">
                                    <h3>Infected Statistics</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="cld-dv wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                                    <img src="{% static 'images/hp1.png' %}" alt="">
                                    <h3>Battle the Virus</h3>
                                </div>
                                <div class="cld-dv wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                                    <img src="{% static 'images/hp3.png' %}" alt="">
                                    <h3>Real-time Info</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--abt-proptz end-->
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="about-text pl-100 pr-0">
                        <h2>Stopping the virus is the priority </h2>
                        <p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel
                            sagittis turpis consequat nec.</p>
                        <a href="about.html" title="" class="btn-default blue-clr">know More<span></span></a>
                    </div>
                    <!--about-text end-->
                </div>
            </div>
        </div>
        <!--more-sectat end-->
    </div>
</section>

<section class="sec-block-200 pb-0">
    <div class="container">
        <div class="fingertips-section">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="figner-text">
                        <h2>A tool at your fingertips</h2>
                        <ul>
                            <li>
                                <div class="fg-text">
                                    <h3>Watch your health</h3>
                                    <p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="fg-text">
                                    <h3>Real-time map</h3>
                                    <p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a href="services.html" title="" class="btn-default blue-clr style2">How does it
                            work<span></span></a>
                    </div>
                    <!--figner-text end-->
                </div>
                <div class="col-lg-6">
                    <div class="mobiles-img wow fadeInUp" data-wow-duration="1000ms">
                        <img src="https://via.placeholder.com/740x700" alt="">
                    </div>
                    <!--mobiles-img end-->
                </div>
            </div>
        </div>
        <!--fingertips-section end-->
    </div>
</section>

<section class="sec-block-200 pb-0">
    <div class="container">
        <div class="section-title text-center">
            <h2>Application screenshot Preview</h2>
            <p>Integer eu metus at orci scelerisque rutrum. Vivamus condimentum, ipsum vitae iaculis cursus
                turpis.</p>
        </div>
        <!--section-title end-->
    </div>
    <div class="jpgs-section">
        <div class="container-fluid">
            <div class="jpg-slder">
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/344x700" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/344x700" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
                <div class="jpg-slide">
                    <img src="https://via.placeholder.com/300x600" alt="">
                </div>
                <!--jpg-slide end-->
            </div>
            <!--jpg-slder end-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--jpgs-section end-->
</section>

<section class="sec-block-200">
    <div class="container">
        <div class="avbl-section">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="avbl-text">
                        <h2>Available for iOS and Android</h2>
                        <div class="avl-list">
                            <div class="av-div">
                                <h3>iOS user</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="64"></div>
                                </div>
                                <div class="coun-dv">
                                    <h2>64<small>%</small></h2>
                                    <p>more than 200 websites built with the highest quality.</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--av-div end-->
                            <div class="av-div">
                                <h3>Android user</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="36"></div>
                                </div>
                                <div class="coun-dv">
                                    <h2>36<small>%</small></h2>
                                    <p>more than 200 websites built with the highest quality.</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--av-div end-->
                        </div>
                        <!--avl-list end-->
                    </div>
                    <!--avbl-text end-->
                </div>
                <div class="col-lg-6">
                    <div class="av-img wow fadeInUp" data-wow-duration="1000ms">
                        <img src="https://via.placeholder.com/754x670" alt="">
                    </div>
                    <!--av-img end-->
                </div>
            </div>
        </div>
        <!--avbl-section end-->
    </div>
</section>

<section class="sec-block pt-0 pb-0">
    <div class="container">
        <div class="section-title style2 text-center">
            <h2>See our Customers’ Reviews</h2>
            <p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel sagittis.</p>
        </div>
        <!--section-title end-->
    </div>
    <div class="main-testimonial-slider hp9">
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
        <div class="main-testi-slide">
            <p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender
                login drumstick pork bel.</p>
            <div class="us-info">
                <img src="https://via.placeholder.com/80x80" alt="">
                <h3>Judie Lipsy</h3>
            </div>
        </div>
        <!--main-testi-slide end-->
    </div>
    <!--main-testimonial-slider end-->
</section>

<section class="sec-block-200 pb-0">
    <div class="container">
        <div class="about-block2">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="abt-block2-img pl-0">
                        <img src="https://via.placeholder.com/915x670" alt="">
                    </div>
                    <!--abt-block2-img end-->
                </div>
                <div class="col-lg-5">
                    <div class="about-text pl-100 pr-0 wow fadeInUp" data-wow-duration="1000ms">
                        <h2>We always protect your privacy</h2>
                        <p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel
                            sagittis turpis consequat nec.</p>
                        <a href="#" title="" class="btn-default blue-clr style2 p55">Protect
                            yourself<span></span></a>
                    </div>
                    <!--about-text end-->
                </div>
            </div>
        </div>
        <!--about-block2 end-->
    </div>
</section>

<section class="sec-block-200 pb-0 vz-section">
    <div class="container">
        <div class="vz-contection">
            <div class="container">
                <div class="vz-row">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="cz-text">
                                <h2>For a better experience download the app</h2>
                                <p>Start using our easy-to-use tools with multiple options to improve.</p>
                                <ul class="vz-icons">
                                    <li><a href="#" title=""><i class="fab fa-apple"></i>AppStore</a></li>
                                    <li><a href="#" title=""><i class="fab fa-google-play"></i>PlayStore</a>
                                    </li>
                                </ul>
                            </div>
                            <!--cz-text end-->
                        </div>
                        <div class="col-lg-5">
                            <div class="abtt-img wow fadeInUp">
                                <img src="https://via.placeholder.com/423x578" alt="">
                            </div>
                            <!--abtt-img end-->
                        </div>
                    </div>
                </div>
                <!--vz-row end-->
            </div>
        </div>
        <!--vz-contection end-->
    </div>
</section>

{% include 'footer.html' %}


</div>
<!--wrapper end-->





{% endblock %}